[Unit]
Description=Certificate renewer for %I
After=network-online.target

[Service]
Type=oneshot
User=root

ExecCondition=/usr/local/bin/step-check-cert-renewal
ExecStart=/usr/local/bin/step-renew-step-certs

[Install]
WantedBy=multi-user.target
